.divprincipal {
  width: 100vw;
  height: 100vh;                                                                                                                                                                                                                                                                         
}
#root{
  width: 100vw;
  height: 100vh;  
}
.titulo{
   text-align: center;
   margin-top: 65px;
   margin-bottom: 50px;
}
.card-title{
  font-size: 30pt;
}

.table-container-xl {
  max-width: 100%;
  min-width: 1100px; /* o 1200px, según tu contenido */
  margin: 0 auto;
}
.div-custom {
  display: flex;
  flex-direction: column; /* coloca elementos en columna */
  align-items: stretch;   /* evita centrado horizontal */
  justify-content: flex-start; /* evita centrado vertical */
  min-height: 100vh; /* asegura que no se quede flotando arriba por contenido corto */
}

