.div-datos-negocio {
    margin-left: 100px;
    margin-right: 100px;
   
  }
  .card-img-top{
    width: 100%;
    height: 100%;
  }
  .card{
    width: 500px;
    height: 100%;
    background-color: aliceblue;
  }
  .card-galeria{
    width: 400px;
    height: 100%;
    padding: 10px;
    margin: 15px;
  }
  .titulo2{
    margin: 25px;
  }
  .card-footer{
    margin-top: 20px;
  }